<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>HOME</title>
</head>
<body>
    <h1>Home page <%= 3*4 %> </h1>
    <p>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ratione, voluptas sint! Laboriosam facilis adipisci nam, expedita atque aut, animi perferendis vero provident ea laudantium vel inventore doloribus, unde reprehenderit magni.</p>

    <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Ad reprehenderit porro ratione nam! Cum fugiat aperiam iusto a unde doloremque blanditiis, sed ipsam optio? Velit molestiae magni eveniet minima explicabo!</p>

</body>
</html>